<mat-card class="example-card">

  <mat-card-content>
    <ul>
      <li><a *ngIf = "!(authService.user | async)" (click) = "toLogin()">Login</a></li>
      <li><a *ngIf = "!(authService.user | async)" (click) = "toRegister()">Register</a></li>
      <li><a *ngIf = "(authService.user | async)" (click) = "toLogout()">Logout</a></li>
    </ul>
  </mat-card-content>
</mat-card>